body {
  text-align: center;
  background-color: #011F3F;
}

#level-title, #game-over {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 5px solid black;
  margin: 3px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-radius: 0 100% 0 0;
}

.green {
  background-color: green;
  border-radius: 100% 0 0 0;
}

.blue {
  background-color: blue;
  border-radius: 0 0 100% 0;
}

.yellow {
  background-color: yellow;
  border-radius: 0 0 0 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
